@import 'https://www.nerdfonts.com/assets/css/webfont.css';

* {
    font-size: 16px;
}

body {
    color: #ffffff;
    font-family: "CaskaydiaCove Nerd Font", monospace;
}

html,
body,
#root {
    height: 100%;
}

#root {
    background: #201f21;
    border-radius: 0 0 14px 14px;
    overflow: hidden;
}

.app {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 100%;
}

.left,
.center,
.right {
    display: flex;
}

.center {
    justify-self: center;
}

.right {
    height: 100%;
    justify-self: end;
    font-weight: 700;
}

.right>* {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.logo,
.network,
.memory,
.cpu,
.workspaces {
    display: flex;
    align-items: center;
}

.workspace {
    background: none;
    width: 24px;
    border: none;
    cursor: pointer;
    color: #77727a;
    font-size: 25px;

    &.empty {
    }
    &.focused {
        color: #60a5fa;
        font-size: 25px;
    }
}

.network,
.memory,
.cpu,
.date {
    color: #000000;
}
.network {
    border-radius: 0 0 0 14px;
    background : #c084fc;
}
.memory {
    background: #60a5fa;
}
.cpu {
    background : #c084fc;
}
.date {
    background : #60a5fa;
}
.icon {
    padding-right: 12px;
    font-size: 18px;
}
.networkIcon {
    padding: 0;
}
